# opciones de enlaces
Options +FollowSymlinks

# activavcion del archivo
RewriteEngine On

# Ruta base
RewriteBase /master-php/daw/programacion/2daEvaluacion/faltasDeAsistencia/

# si es un directorio
RewriteCond %{SCRIPT_FILENAME} !-d

# si es un archivo
RewriteCond %{SCRIPT_FILENAME} !-f

# Condicion de registro
RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2 [L]