*{
    margin: 0;
    padding: 0;
}
/***************************
      Estilos generales 
****************************/ 

ul li{
    list-style: none;
}

a{
    transition: all .3s;
}

a:hover{
    text-decoration: none;
    color: #ffc107 !important;
    cursor: pointer;
}

.btn:hover{
    color: #fff !important;
}

/***************************
    Clases personalizadas 
****************************/

/* Colores */

.blackBg{
    background: #2C2C30;
}

.blackDarkBg{
    background: #212124;
}

.hidden{
    position: absolute;
    top: 15vh;
    left: -5em;
}

/* Circulos */

.circulo,
.circuloGrande{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    color: #212124;
    overflow: hidden;
    position: relative;
    transition: all .3s;
    box-shadow: 3px 3px 8px #ccc;

}

.circuloGrande{
    width: 80px;
    height: 80px;

}

.circuloExtraGrande{
    width: 120px;
    height: 120px;

}

.circulo img{
    height: 100%;
}

.circulo:hover,
.circuloGrande:hover,
.circuloExtraGrande:hover{
    border: 2px solid #ffc107;
    cursor: pointer;
    border-radius: 8px;
    transform: scale(1.2);
}


/***************************
      Header & title 
****************************/

header p{
    color:#343a40;
    font-size: 2.3em;
}


/***************************
           Aside 
****************************/


.favContainer,
.sideContainer{
        height: 100vh;
}

.profile,
.fav{
    box-shadow: none;
}

.profile:hover,
.fav:hover{
    transform: none;
    border: 1px solid  #ffc107;
}

#favLogoText::after{
    content: '';
    display: block;
    height: 2px;
    width: 40%;
    margin: auto;
    background: #fff;
    margin-top: 1.5em;
    border-radius: 8px;

}

.mainLinksContainer{
    margin-top: 10%;
}

.mainLinksContainer a{
    color: #fff;
    display: block;
    margin-bottom: .5em;
    font-size: 1.5em;
}

/***************************
         Views 
****************************/

.viewItemImgContainer{
    max-width: 500px;
    max-height: 600px;
    position: relative;
}


/***************************
     Modificadores rows 
****************************/


.modificador,
.borrador{
    font-size: 1.3em;
}

.modificador{
    color: rgb(33, 136, 56);
}

.borrador{
    color: rgb(167, 29, 42);
}

/***************************
          MISC 
****************************/

.copy{
    position: absolute;
    bottom: 0;
    right: 2em;
}

.end{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

tr{
    transition: all .5s;
}

.card:hover{
    border: 1px solid #ffc107;
}
.fa-star:hover{
    transition: all .5s;
    transform: rotateY(360deg);
}


/***************************
         Media @ Md 
****************************/

@media (max-width: 991.98px){

    *{
        font-size: .95rem;
    }

    /* favs */

    .favContainer{
        height: 10vh;

    }

    /* aside */
    .sideContainer{
        height: 30vh;
    }
    .sidebar{
        height: 20vh;
    }
    
    #favLogoText::after{
        display: none;

    }

    /* aside/nav */
    .mainLinksContainer{
        display: flex;
        margin-top: 1%;
    }

    .mainLinksContainer ul{
        margin: auto;
    }

    .mainLinksContainer ul li{
        float: left;
        margin-right: 1em ;
    }

    
    /* Circulos */

    .circuloExtraGrande{
        width: 80px;
        height: 80px;

    }

    /* MISC */

    .copy{
        bottom: -.5em;
    }

    .end{
        position: absolute;
        top: 2vh;
        left: 88vw;
        right: 0;
    }
    
}


/***************************
         Media @ Sm 
****************************/

@media (max-width: 767.98px) {
    

    /* favs */

    .favContainer{
        height: 12vh;
        overflow-x: scroll;

    }

    /* aside/nav */
    
    .logoHeader{
        display: none;
    }

    .mainLinksContainer{
        display: flex;
        margin-top: 1%;
    }

    .mainLinksContainer ul{
        margin: auto;
    }

    .mainLinksContainer ul li{
        float: left;
        font-size: .9rem;
        margin-right: .8em ;
    }
    
    /* MISC */

    .copy{
        bottom: .5em;
    }

 }